* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.logo {
    width: 150px;        /* adjust size if needed */
    display: block;      /* makes margin auto work */
    margin: 0 auto 20px; /* centers + adds space below */
}


body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 420px;
    text-align: center;
}

h1 {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 30px;
    color: #333;
}

.btn {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    background-color: #d9d9d9;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #cfcfcf;
}

.divider {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.divider hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #999;
}

.divider span {
    margin: 0 10px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 14px;
    border: none;
    background-color: #d9d9d9;
    margin-bottom: 25px;
    font-size: 14px;
}

.next-btn,
.forgot-btn {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background-color: #d9d9d9;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.3s ease;
}

.next-btn:hover,
.forgot-btn:hover {
    background-color: #cfcfcf;
}